#layers-panel-trigger {
  width         : 50px;
  height        : 40px;
  background    : $color-main;
  position      : absolute;
  top           : 50px;
  left          : 0;
  color         : white;
  @include vendor("display", "flex");
  @include vendor("align-items", "center");
  @include vendor("justify-content", "center");
  z-index       : 1;
  border-radius : 0 5px 5px 0;
  cursor        : pointer;
  @include vendor("transition", ("width 0.2s ease"));

  &:hover {
    width : 70px;

    i { margin-left : 20px }

  }

  i {
    margin-left : 5px;
    @include vendor("transition", ("margin-left 0.2s ease"));
  }

}


#layers-panel {
  width            : 400px;
  height           : 100%;
  position         : absolute;
  top              : 0;
  left             : 0;
  z-index          : 2;
  background-color : $color-main;
  box-shadow       : 3px 0 5px 0 rgba(0, 0, 0, 0.36);
  @include vendor("transform", "translateX(-405px)");
  @include vendor("transition", ("transform 250ms ease-in-out"));
  overflow-y       : auto;

  &.open { @include vendor("transform", "translateX(0)") }

  .layers-panel-header {
    width            : 100%;
    height           : 60px;
    position         : fixed;
    top              : 0;
    left             : 0;
    @include flex-display(columns);
    @include vendor("align-items", "center");
    padding          : 0 20px 0 30px;
    background-color : $color-main-dark;
    color            : #FFFFFF;
    @include flex-display(columns);
    @include vendor("align-items", "center");
    z-index          : 2;

    .layers-panel-close {
      @include flex-static-size(48px);
      cursor        : pointer;
      border-radius : 50%;

      &:hover { background : rgba(255, 255, 255, 0.11) }

      i {
        padding : 12px;

        &:hover { color : #EBEBEB }

      }

    }

    .layers-panel-title {
      @include font(500, 25px);
      @include vendor("flex", "1");
      line-height : 2;
      cursor      : default;
    }

  }

  .layers-container {
    width       : 100%;
    padding-top : 60px;

    .layer-group-header {
      width            : 100%;
      height           : 56px;
      @include flex-display(columns);
      @include vendor("align-items", "center");
      padding          : 0 20px 0 30px;
      background-color : $color-main;
      color            : #FFFFFF;
      cursor           : pointer;
      border-bottom    : 1px solid #FFFFFF;

      &:hover { box-shadow : inset 2px 0 0 #FFFFFF }

      &.open { border-bottom : none }

      &.open > .group-toggle i { @include vendor("transform", "rotate(90deg)") }

      .group-title {
        @include font(400, $font-body);
        @include vendor("flex", "1");
        line-height : 1;
      }

      .group-toggle {
        @include flex-static-size(48px);

        i {
          padding : 12px;
          @include vendor("transition", ("transform 0.3s ease"));
        }

      }

    }

    .layer-group-content { display : none }

    .layer {
      width            : 100%;
      height           : 56px;
      @include flex-display(columns);
      @include vendor("align-items", "center");
      padding          : 0 20px 0 30px;
      background-color : $color-main-light;
      color            : #FFFFFF;
      border-bottom    : 1px solid #FFFFFF;

      &:hover { box-shadow : inset 2px 0 0 #FFFFFF }

      &.single-layer { background-color : $color-main }

      .layer-name {
        @include font(400, $font-body);
        @include vendor("flex", "1");
        line-height : 1;
      }

      .layer-icon {
        @include flex-static-size(48px);
        cursor        : pointer;
        border-radius : 50%;

        &:hover { background : rgba(255, 255, 255, 0.2) }

        i { padding : 12px }
      }

    }

  }

}