#map { width : 100% }


.ol-scale-line {
  bottom     : 28px;
  right      : 16px;
  left       : auto;
  background : transparentize($color-main, 0.3);
}


.ol-zoom {
  top    : auto;
  bottom : 56px;
  right  : 16px;
  left   : auto;

  button {
    background : $color-main;

    &:hover { background : $color-main-dark }

    &:focus { background : $color-main-dark }

  }

}
