html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  position: relative;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font: 400 18px "Roboto";
  line-height: 1.2;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricPrecision;
  background: #F0F0F0;
}

a, button {
  outline: none;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

#map {
  width: 100%;
}

.ol-scale-line {
  bottom: 28px;
  right: 16px;
  left: auto;
  background: rgba(1, 160, 196, 0.7);
}

.ol-zoom {
  top: auto;
  bottom: 56px;
  right: 16px;
  left: auto;
}
.ol-zoom button {
  background: #01A0C4;
}
.ol-zoom button:hover {
  background: #067C98;
}
.ol-zoom button:focus {
  background: #067C98;
}

#layers-panel-trigger {
  width: 50px;
  height: 40px;
  background: #01A0C4;
  position: absolute;
  top: 50px;
  left: 0;
  color: white;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  z-index: 1;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  -moz-transition: width 0.2s ease;
  -webkit-transition: width 0.2s ease;
  -ms-transition: width 0.2s ease;
  transition: width 0.2s ease;
}
#layers-panel-trigger:hover {
  width: 70px;
}
#layers-panel-trigger:hover i {
  margin-left: 20px;
}
#layers-panel-trigger i {
  margin-left: 5px;
  -moz-transition: margin-left 0.2s ease;
  -webkit-transition: margin-left 0.2s ease;
  -ms-transition: margin-left 0.2s ease;
  transition: margin-left 0.2s ease;
}

#layers-panel {
  width: 400px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #01A0C4;
  box-shadow: 3px 0 5px 0 rgba(0, 0, 0, 0.36);
  -moz-transform: translateX(-405px);
  -webkit-transform: translateX(-405px);
  -ms-transform: translateX(-405px);
  transform: translateX(-405px);
  -moz-transition: -moz-transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  -ms-transition: -ms-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  overflow-y: auto;
}
#layers-panel.open {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}
#layers-panel .layers-panel-header {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: columns;
  -webkit-flex-direction: columns;
  -ms-flex-direction: columns;
  flex-direction: columns;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0 20px 0 30px;
  background-color: #067C98;
  color: #FFFFFF;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: columns;
  -webkit-flex-direction: columns;
  -ms-flex-direction: columns;
  flex-direction: columns;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  z-index: 2;
}
#layers-panel .layers-panel-header .layers-panel-close {
  -moz-flex: 0 0 48px;
  -webkit-flex: 0 0 48px;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  cursor: pointer;
  border-radius: 50%;
}
#layers-panel .layers-panel-header .layers-panel-close:hover {
  background: rgba(255, 255, 255, 0.11);
}
#layers-panel .layers-panel-header .layers-panel-close i {
  padding: 12px;
}
#layers-panel .layers-panel-header .layers-panel-close i:hover {
  color: #EBEBEB;
}
#layers-panel .layers-panel-header .layers-panel-title {
  font: 500 25px "Roboto";
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 2;
  cursor: default;
}
#layers-panel .layers-container {
  width: 100%;
  padding-top: 60px;
}
#layers-panel .layers-container .layer-group-header {
  width: 100%;
  height: 56px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: columns;
  -webkit-flex-direction: columns;
  -ms-flex-direction: columns;
  flex-direction: columns;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0 20px 0 30px;
  background-color: #01A0C4;
  color: #FFFFFF;
  cursor: pointer;
  border-bottom: 1px solid #FFFFFF;
}
#layers-panel .layers-container .layer-group-header:hover {
  box-shadow: inset 2px 0 0 #FFFFFF;
}
#layers-panel .layers-container .layer-group-header.open {
  border-bottom: none;
}
#layers-panel .layers-container .layer-group-header.open > .group-toggle i {
  -moz-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
#layers-panel .layers-container .layer-group-header .group-title {
  font: 400 18px "Roboto";
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 1;
}
#layers-panel .layers-container .layer-group-header .group-toggle {
  -moz-flex: 0 0 48px;
  -webkit-flex: 0 0 48px;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
}
#layers-panel .layers-container .layer-group-header .group-toggle i {
  padding: 12px;
  -moz-transition: -moz-transform 0.3s ease;
  -webkit-transition: -webkit-transform 0.3s ease;
  -ms-transition: -ms-transform 0.3s ease;
  transition: transform 0.3s ease;
}
#layers-panel .layers-container .layer-group-content {
  display: none;
}
#layers-panel .layers-container .layer {
  width: 100%;
  height: 56px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: columns;
  -webkit-flex-direction: columns;
  -ms-flex-direction: columns;
  flex-direction: columns;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 0 20px 0 30px;
  background-color: #01B2D7;
  color: #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
}
#layers-panel .layers-container .layer:hover {
  box-shadow: inset 2px 0 0 #FFFFFF;
}
#layers-panel .layers-container .layer.single-layer {
  background-color: #01A0C4;
}
#layers-panel .layers-container .layer .layer-name {
  font: 400 18px "Roboto";
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 1;
}
#layers-panel .layers-container .layer .layer-icon {
  -moz-flex: 0 0 48px;
  -webkit-flex: 0 0 48px;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  cursor: pointer;
  border-radius: 50%;
}
#layers-panel .layers-container .layer .layer-icon:hover {
  background: rgba(255, 255, 255, 0.2);
}
#layers-panel .layers-container .layer .layer-icon i {
  padding: 12px;
}

.basemap-wrapper {
  width: 96px;
  height: 64px;
  position: absolute;
  top: 50px;
  border: 3px solid #FFFFFF;
  cursor: pointer;
  z-index: 1;
  background: #FFFFFF;
  -moz-transition: right 0.5s ease;
  -webkit-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  transition: right 0.5s ease;
  overflow: hidden;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: 100% auto !important;
}
.basemap-wrapper.basemap-selected {
  border: 3px solid #01B2D7;
}
.basemap-wrapper:hover {
  border: 3px solid #01B2D7;
}
.basemap-wrapper .basemap-name {
  background: #FFFFFF;
  color: #000000;
  font: 400 14px "Roboto";
  text-align: center;
  margin: 3px;
  padding: 1px;
}
.basemap-wrapper img {
  width: 100%;
}

#basemaps-trigger {
  right: 16px;
  z-index: 2;
  background-image: url("../images/basemaps/default.png");
}
#basemaps-trigger:hover {
  border: 3px solid #FFFFFF;
}
#basemaps-trigger .basemap-name {
  background: #000000;
  color: #FFFFFF;
}

.basemap-wrapper {
  right: 16px;
}

#basemap-default {
  background-image: url("../images/basemaps/default.png");
}

#basemap-aerial {
  background-image: url("../images/basemaps/aerial.png");
}

#basemap-labels {
  background-image: url("../images/basemaps/labels.png");
}

#metadata-window {
  width: 550px;
  position: absolute;
  top: 30px;
  left: 430px;
  z-index: 5;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
#metadata-window .metadata-top-bar {
  width: 100%;
  height: 48px;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: columns;
  -webkit-flex-direction: columns;
  -ms-flex-direction: columns;
  flex-direction: columns;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #FFFFFF;
  background-color: #01B2D7;
  border-bottom: 1px solid #EBEBEB;
  padding-left: 16px;
  border-radius: 5px 5px 0 0;
  cursor: move;
}
#metadata-window .metadata-top-bar .metadata-tile {
  font: 400 18px "Roboto";
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 2;
}
#metadata-window .metadata-top-bar .metadata-close {
  -moz-flex: 0 0 48px;
  -webkit-flex: 0 0 48px;
  -ms-flex: 0 0 48px;
  flex: 0 0 48px;
  cursor: pointer;
  border-radius: 50%;
  margin-right: 8px;
}
#metadata-window .metadata-top-bar .metadata-close:hover {
  background: rgba(255, 255, 255, 0.1);
}
#metadata-window .metadata-top-bar .metadata-close i {
  padding: 12px;
}
#metadata-window .metadata-top-bar .metadata-close i:hover {
  color: #FFFFFF;
}
#metadata-window .metadata-body {
  width: inherit;
  max-height: 380px;
  overflow-y: auto;
  overflow-x: hidden;
}
#metadata-window .metadata-body .metadata-description {
  width: inherit;
  padding: 16px;
  color: #333333;
  font: 400 16px "Roboto";
  border-bottom: 1px solid rgba(215, 215, 215, 0.6);
}
#metadata-window .metadata-body .metadata-legend {
  width: inherit;
  padding: 16px;
}
#metadata-window .metadata-body .metadata-legend .metadata-legend-title {
  font-weight: 500;
}
#metadata-window .metadata-body .metadata-legend img {
  margin-top: 15px;
  max-width: 40%;
}
#metadata-window .metadata-body .metadata-info {
  width: inherit;
  padding: 16px 16px 8px 16px;
}
#metadata-window .metadata-body .metadata-info .metadata-info-title {
  font-weight: 500;
  margin-bottom: 16px;
}
#metadata-window .metadata-body .metadata-info .metadata-info-wrapper {
  width: 100%;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: columns;
  -webkit-flex-direction: columns;
  -ms-flex-direction: columns;
  flex-direction: columns;
  -moz-justify-content: -moz-flex-start;
  -webkit-justify-content: -webkit-flex-start;
  -ms-justify-content: -ms-flex-start;
  justify-content: flex-start;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  color: #333333;
  font: 400 16px "Roboto";
  margin-bottom: 6px;
}
#metadata-window .metadata-body .metadata-info .metadata-info-wrapper .info-name {
  -moz-flex: 0 0 190px;
  -webkit-flex: 0 0 190px;
  -ms-flex: 0 0 190px;
  flex: 0 0 190px;
}
#metadata-window .metadata-body .metadata-info .metadata-info-wrapper .info-content {
  -moz-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
#metadata-window .metadata-body .metadata-info .metadata-info-wrapper .info-content a {
  text-decoration: underline;
  color: #01A0C4;
}

/*# sourceMappingURL=index.css.map */
