* {
  position                    : relative;
  @include vendor("box-sizing", "border-box");
  -webkit-tap-highlight-color : rgba(0, 0, 0, 0)
}

html,
body {
  width  : 100%;
  height : 100%;
}

body {
  @include font(400, $font-body);
  line-height             : 1.2;
  overflow                : hidden;
  margin                  : 0;
  padding                 : 0;
  color                   : #000000;
  font-family             : "Roboto", sans-serif;
  -webkit-font-smoothing  : antialiased;
  -moz-osx-font-smoothing : grayscale;
  text-rendering          : geometricPrecision;
  background              : #F0F0F0;
}

a, button { outline : none }

button:focus { outline : none }

a { text-decoration : none }

p { margin : 0 }